*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: aqua;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont{
    width: fit-content;
    height: fit-content;
    padding: 5rem 2rem;
    background-color: wheat;
    border: 5px solid black;
    border-radius: 5%;
}

.op{
    border: 3px solid black;
    border-radius: 5px;
    width: inherit;
    width: 100%;
    margin-bottom: 2rem;
}

#output{
    width: 100%;
    padding: 0rem 0.5rem;
    height: 3rem;
    border: none;
    outline: none;
}

.ip{
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(5, 3rem);
    gap: 0.5rem;
}

#end{
    grid-row: span 2;
}

button{
    border: 1.5px solid black;
    border-radius: 5px;
}